---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import LayoutSection from "@/layouts/LayoutSection.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Gekidokan | Nosotros">
  <LayoutSection sectionClass="pt-[88px]">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900"
      >
        Dejanos un mensaje
      </h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
        ¿Estas interesado en formar parte del Gekidokan? Seguinos a traves de
        nuestras redes social y dejanos un mensaje, te responderemos a la
        brevedad posible.
      </p>

      <div class="grid justify-center items-start sm:grid-cols-2 gap-4">
        <ul class="p-4 grid gap-4">
          <li>
            <a
              href="mailto: info@dojogekido.com"
              class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow transition-all hover:bg-red-50 hover:border-red-300 flex flex-col items-center"
            >
              <Icon name="mail" class="size-8" />

              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                info@dojogekido.com
              </h5>
            </a>
          </li>
          <li>
            <a
              href="/#"
              class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow transition-all hover:bg-red-50 hover:border-red-300 flex flex-col items-center"
            >
              <Icon name="whatsapp" class="size-8" />

              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                (+58)4121112233
              </h5>
            </a>
          </li>
        </ul>

        <form action="#" class="p-4 space-y-4 max-w-[100vw] max-md:w-[400px]">
          <div>
            <label
              for="contactForm_name"
              class="block text-sm font-medium text-gray-900">Nombre</label
            >
            <input
              type="text"
              id="contactForm_name"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
              placeholder="ej: Pedro Perez"
              required
            />
          </div>
          <div>
            <label
              for="contactForm_age"
              class="block text-sm font-medium text-gray-900">Edad</label
            >
            <input
              type="text"
              id="contactForm_age"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
              placeholder="ej: 12 años"
              required
            />
          </div>
          <div>
            <label
              for="contactForm_phone"
              class="block text-sm font-medium text-gray-900">Telefono</label
            >
            <input
              type="text"
              id="contactForm_phone"
              class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
              placeholder="ej: 04122356677"
              required
            />
          </div>
          <div class="sm:col-span-2">
            <label
              for="contactForm_message"
              class="block text-sm font-medium text-gray-900">Mensaje</label
            >
            <textarea
              id="contactForm_message"
              rows="6"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 resize-none"
              placeholder="ej: Hola, me gustaria conocer los horarios de las clases de Karate"
            ></textarea>
          </div>

          <button
            class="px-6 py-2 rounded-lg
          font-medium bg-red-200 border border-red-300 hover:bg-red-300 transition-all"
            type="submit"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </LayoutSection>
</Layout>

<!-- Footer -->
<Footer />
