---
import { Image } from "astro:assets";

import { linkSource } from "../assets/data";

const links: App.NavLink[] = linkSource;
---

<footer class="p-4 pt-[100px] bg-white">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      href="/"
      class="flex justify-center items-center flex-col "
    >
      <img
        src="images/logotipo-2.webp"
        alt="logotipo"
        class="h-32 opacity-50 hover:opacity-100 transition-all"
      />
    </a>

    <h5 class="text-2xl font-semibold text-gray-400 mb-2">Dojo Gekido</h5>

    <ul class="flex flex-wrap gap-4 justify-center items-center mb-6 text-gray-400">
      {
        links.map((l) => (
          <li>
            <a href={l.url} class="hover:underline">
              {l.label}
            </a>
          </li>
        ))
      }
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="/" class="hover:underline"
        >Dojo Gekido C.A. RIF-100000001</a
      > Todos los derechos reservados.</span
    >
  </div>
</footer>
