---
import LayoutSection from "@/layouts/LayoutSection.astro";
---

<LayoutSection wrapperClass="min-h-fit">
  <div class="h-[100vh] flex flex-col items-center justify-center">
    <h2 class="text-5xl mb-4 tracking-tight font-extrabold text-black">
      Ubicanos
    </h2>

    <div class="px-4">
      <h2 class="text-lg mb-4 tracking-tight text-black">
        Av. Juan Bautista Arismendi con Calle Lindo y Bello, diagonal al Liceo
        Francisco Antonio Rísquez, La Asunción.
      </h2>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.1914993660457!2d-63.8587708!3d11.024254399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c318f0077508737%3A0xdf23dc6f2f529231!2sGekidokan!5e0!3m2!1ses!2sve!4v1741960869693!5m2!1ses!2sve"
      style="width: 100vw; height: 300px; z-index: 0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</LayoutSection>
