---
interface Props {
  sectionClass?: string;
  wrapperClass?: string;
}

const { sectionClass, wrapperClass } = Astro.props;
---

<section
  class="w-full lg:min-h-screen grid place-content-center"
  class:list={[sectionClass]}
>
  <div class="bg-white" class:list={[wrapperClass]}>
    <slot />
  </div>
</section>
